:root {
    --accents: #510606;
    --titles: #000000;
    --subtitles: #1C1C1C;
    --backgrounds: #FFFFFF;
    --small-accents: #F7D700;
}

body {
    color: var(--subtitles);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--titles);
}

#bio-column a, #bio-column a:visited, #bio-column a:hover, #bio-column a:active {
    text-decoration: none;
    color: var(--small-accents);
    font-size: 5vh;
}

#bio-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem;
}

#stone-bio, #annalee-bio {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

#stone-bio {
    flex-direction: row;
}

#annalee-bio {
    flex-direction: row-reverse;
}

#stone-bio p, #annalee-bio p {
    flex: 1;
    margin: 0;
}

#stone-image, #annalee-image {
    width: 30vh;
    height: 30vh;
    border-radius: 2%;
    object-fit: cover;
    flex-shrink: 0;
}

#fire-symbol {
    width: min(60vw, 37.5rem);
    height: auto;
    margin: -4rem 0;
    position: relative;
    z-index: 1;
}

#bio-column p {
    background-color: var(--backgrounds);
}

@media (max-width: 48em) {
    #fire-symbol {
        width: min(80vw, 25rem);
        margin: 1.25rem 0;
    }
}