:root {
    --main: #510606;
    --picture: #581b06;
    --accent: #1C1C1C;
    --background: #FFFFFF;
    --text: #ffbb5b;
    --lobster-two: "Lobster Two", cursive;
}

@font-face {
    font-family: "Lobster Two";
    src: url("../assets/fonts/Lobster_Two/LobsterTwo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    min-height: 100%;
}

body {
    background: var(--picture);
    color: var(--text);
    font-family: "Times New Roman", Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}

h1 {
    color: var(--titles);
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--small-accents);
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 82vh;
    object-fit: contain;
    margin: 0 auto;
}